
.card .card-title {
    font-size: 10px;
    font-weight: 300;
}
.addToWishlistIcon {
        color: red; z-index: 99999;
        line-height: 12px;
        margin-top: 1px;
        margin-right: 2px;
        position:sticky;
        top:0;
        right:0;
    
}

.grayRow {
    background: #3c3c3c;

}
.text-ellipsis {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-container {
    text-align: center;
        vertical-align: middle;
}
.image {
    margin-top: 10px;
    margin-bottom: 10px;
}
